<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::title},~{::section})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>System Detail</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.css" rel="stylesheet">
	<link th:href="@{/css/common.css}"
		  href="../../static/css/common.css" rel="stylesheet">
</head>
<body>
<section>

<div class="container" id="containers">

	<div class="bg-primary text-light" style="margin-top: 5px;padding: 5px;">
	  <span  th:text="${detailDto.name}"></span> System Detail
	</div>
	
	<h4 class="mt-4 content-heading"> 담당자
		<a th:href="@{/system/new-user/{sysId}(sysId = ${detailDto.id})}" class="btn btn-primary"
		   style="font-size: .45rem;">new</a>

	</h4>
	
	<div class="list-group w-auto">
		<a href="#"
			class="list-group-item list-group-item-action d-flex gap-3 py-3"
			aria-current="true" th:each="user, i: ${detailDto.users}">
			<div class="d-flex gap-2 w-100 justify-content-between">
				<div>
					<h6 class="mb-0" th:text="${user.name}">이상국</h6>
					<p class="mb-0 opacity-75" th:text="${user.sno}">190726</p>
				</div>

				<!-- <small class="opacity-50 text-nowrap" th:text="${i.count}">1</small> -->
				<button type="button" class="btn btn-secondary btn-user-delete"
				style="font-size: .45rem;" th:value="${user.systemUserId}" >delete</button>
			</div>
		</a> 
	</div>
	
	<h4 class="mt-4 content-heading"> DB 정보
		<button type="button" class="btn btn-primary btn-db-add"
				style="font-size: .45rem;"  >new</button>
	</h4>
	<table class="table">
	  <thead>
	    <tr >
	      <th scope="col">Type</th>
	      <th scope="col">Url</th>
	      <th scope="col">UserId</th>
	      <th scope="col">UserPwd</th>
	    </tr>
	  </thead>
	  <tbody class="table-group-divider" >
	    <tr th:each="db, i: ${detailDto.dbs}">
	      <th scope="row" th:text="${db.dbType}">1</th>
	      <td th:text="${db.url}">Mark</td>
	      <td th:text="${db.userId}">Otto</td>
	      <td th:text="${db.userPwd}">@mdo</td>
	    </tr>
	  </tbody>
</table>
	
</div>
<script type="text/javascript" th:src="@{/js/app/system/detail.js}" src="../../static/js/app/system/detail.js"></script>
</section>

</body>
</html>