<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::title},~{::section})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>System Detail</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.css" rel="stylesheet">
	<link th:href="@{/css/common.css}"
		  href="../../static/css/common.css" rel="stylesheet">
</head>
<body>
<section>

<input type="hidden" id="systemId" th:value="${system.id}"/>
<div class="container" id="containers">

	<div style="margin-top: 5px;padding: 5px;">
	  [<span  th:text="${system.name}"></span>] New System User
	</div>

	<div class="input-group mb-3 mt-4">
		<label class="input-group-text" for="inputUserGroup">User</label>
		<select class="form-select" id="inputUserGroup">
			<option selected>----선택----</option>
			<option th:each="user : ${users}" th:value="${user.sno}" th:text="${user.name + '/' + user.sno}">One</option>
		</select>
	</div>

	<div class="d-grid gap-2">
		<button class="btn btn-primary btn-user-add" type="button">등록</button>
	</div>

</div>
<script type="text/javascript" th:src="@{/js/app/system/new-user.js}" src="../../static/js/app/system/new-user.js"></script>
</section>

</body>
</html>