<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::title},~{::section})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>ISSUES</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .box{
        	background-color: #ffffff;
        	border-color: #d0d7de;
        	border-radius: 6px;
        	border-style: solid;
        	border-width: 1px;
        }
    </style>
</head>
<body>
<section>
	<div class="bg-secondary text-light" style="margin-top: 5px;padding: 5px;">
	  Issue List <a th:href="@{/web/issue/new}" class="btn btn-primary"
		   style="font-size: .45rem;">new</a>
	</div>
	<form action="#" th:action="@{/web/issue/list}" th:object="${issueSaveRequestDto}" method="GET">
		<div class="mt-2" style="text-align: right;padding-right: 5px;">
			Tag : <input class="searching" type="text" id="tagSearch" th:field="*{tagName}"/> 
			Title : <input class="searching" type="text" id="titleSearch"  th:field="*{title}"/> 
			Content : <input class="searching" type="text" id="contentSearch" th:field="*{content}"/>
			<button type="submit"  class="btn-primary"
		   style="font-size: .45rem;">조회</button>
		</div>
		</form>
	
	<table class="table mt-2">
		<thead>
			<tr>
				<th width="20%" scope="col">Tag</th>
				<th width="50%" scope="col">Title</th>
				<th width="20%" scope="col">Create</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			<tr th:each="issue, i: ${issues}">
				<td th:text="${issue.tagName}">Mark</td>
				<td ><a th:href="@{/web/issue/detail/{sysId}(sysId = ${issue.id})}" th:text="${issue.title}" class="">title</a></td>
				<td th:text="${#temporals.format(issue.createDate, 'yyyy-MM-dd HH:mm')}">@mdo</td>
			</tr>
		</tbody>
	</table>
	<nav 
		th:with="
			pageNumber = ${pages.pageNumber},
			pageSize = ${pages.pageSize},
			totalPages = ${pages.totalPages},
			startPage = ${pages.startPage},
			endPage = ${pages.endPage}
		"
		aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			<!-- <li th:classappend="${pageNumber + 1 <= pageSize + 1} ? 'disabled'" class="page-item">
				<a class="page-link" th:href="@{/web/issue/list(page=1)}">First</a>
			</li> -->
			<li th:classappend="${pageNumber ==  0} ? 'disabled'" class="page-item">
				<a class="page-link" th:href="@{/web/issue/list(page=${pageNumber - 1},tagName=${issueSaveRequestDto.tagName},title=${issueSaveRequestDto.title},content=${issueSaveRequestDto.content})}">Previous</a>
			</li>
			<li th:each="page : ${#numbers.sequence(startPage,endPage)}" 
			    th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
				<a th:text="${page}" class="page-link" 
				th:href="@{/web/issue/list(page=${page - 1},tagName=${issueSaveRequestDto.tagName},title=${issueSaveRequestDto.title},content=${issueSaveRequestDto.content})}">1</a></li>
			<li th:classappend="${pageNumber+1 ==  endPage} ? 'disabled'" class="page-item">
				<a class="page-link" th:href="@{/web/issue/list(page=${pageNumber + 1},tagName=${issueSaveRequestDto.tagName},title=${issueSaveRequestDto.title},content=${issueSaveRequestDto.content})}">Next</a></li>
			</li>
		</ul>
	</nav>
	</section>
</body>
</html>